<app-social-fab></app-social-fab>
<app-header [title]="'Home'"></app-header>
<ion-content fullscreen class="ion-padding">
    <ion-item>
        <ion-avatar slot="start">
            <img src="./assets/me.png">
        </ion-avatar>
        <ion-label>
            <h3>Marco Noppen</h3>
            <p>Allround Software Developer</p>
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-text color="dark">
            <p>Applicatie gemaakt met angular en Ionic,
                 Deze app is bedoelt als test om te laten zien dat ik ervaring heb in het bouwen van Apk's en angular applicaties</p>
            <p>Meer projecten staan in het tweede navigatie tabje, op de ronde knop onderin de pagina kunt u navigeren naar verschillende media</p>
            <p>Op het laatste tabje staat een lijst van mijn competenties.</p>
        </ion-text>
    </ion-item>
</ion-content>
